div.wrapper {
    background-color: #d6d1b1;
    min-width: 900px;
    padding: 10px;
}
    
    div.wrapper div.header {
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin: 0px auto;
    }

        div.wrapper div.header img {
            width: 170px;
            height: 100px;
        }

        div.wrapper div.header img.whiteback {
            background-color: white;
            width: 170px;
            height: 100px;
        }

        div.wrapper div.header h1 {
            margin: 5px 5px;
        }

    div.wrapper div.boxes {
        padding: 5px;
    }

        div.wrapper div.boxes div.rows {
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: space-between;
            flex-wrap: wrap;
            margin: 5px 10px;
        }

                div.wrapper div.boxes div.rows img.blue {
                    background-color: #77b6ea;
                    width: 133px;
                    padding: 15px;
                    border: 3px solid black;
                }

                div.wrapper div.boxes div.rows img.pink {
                    background-color: #fc6471;
                    padding: 15px;
                    width: 133px;
                    border: 3px solid black;
                }

                div.wrapper div.boxes div.rows img.domosux {
                    height: 133px;
                }

    div.wrapper div.footer {
        height: 40px;
    }